In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import geopandas

from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
from shapely.geometry import Point, LineString

from math import ceil
import random
import requests

from time import sleep

import arventoapi

%matplotlib inline

In [95]:
import importlib
importlib.reload(arventoapi)

## Trip Segmentation

![Trip Segmentation](dashboard/static/Route-multi-point.jpg)

To study trip interval, first we need to define origin and destination point like above illustration. Origin can be the warehouse so the destination would be store A. In between that two point, it is going to be considered as one trip

On typical business operation, the drop point can be more than one, therefore between Store A and Store B, we can also consider one trip as well

To define these two points, origin and destination, there are multiple ways:

- Manually tagged by user

- Using clustering method like Trajectory DBSCAN (T-DBSCAN) to cluster the sparse trajectory by factoring time to determine which are points of interest on the map. (Not in the scope of this project)

![Geofencing](dashboard/static/geofence-sample.png)

Prior to this data, The company had made several geofences indicating point of interests. These geofences/region marks origin and destination. Although some of the customer's premise have not marked yet, but we could still use the data and treat it as a long round trip

***notes*** : Later, I found out that this long round trip causing huge margin of error in prediction because the model can't predict unloading time in customer's premise.

This notebook is second iteration. On the first attempt, I only get 1,000+ sample from approx. 12,000 trip a month. However the prediction result was not satisfying, so I retook sample of 8,000+ trip on 2nd iteration

In [4]:
df = pd.read_csv('Datasets/region_travel_report_full_2m.csv', sep=';')

Each row indicates the event where the vehicle enter a region in time series. The gps receiver has built-in gps odometer measurement.

By substracting time and distance between enter region event and previous exit region, we could know the distance and time of the trip between region

And also since we know the enter and exit region time, we could also calculate the in-region-duration. which could be used to measure average unloading time in customer's premise

In [5]:
df.head()

,record_id,device_id,license_plate,driver,vehicle_group,region,enter_region_datetime,enter_region_odometer,exit_region_datetime,exit_region_odometer,previous_region_exit_datetime,previous_region_exit_odometer,in_region_duration,in_region_odometer,interval_between_two_regions,distance_to_previous_region
0,1,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,"Wednesday, April 1, 2020 9:47:10 AM","12367,11","Wednesday, April 1, 2020 10:20:16 AM","12367,44","Wednesday, April 1, 2020 7:17:24 AM","12367,11",33m 6s,"0,33",2h 29m 46s,0
1,2,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,"Wednesday, April 1, 2020 3:47:18 PM",12458,"Thursday, April 2, 2020 7:25:37 AM","12458,3","Wednesday, April 1, 2020 10:20:16 AM","12367,44",15h 38m 19s,"0,3",5h 27m 2s,"90,56"
2,3,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,"Thursday, April 2, 2020 10:30:59 AM","12501,39","Thursday, April 2, 2020 10:53:10 AM","12501,55","Thursday, April 2, 2020 10:30:38 AM","12501,35",22m 11s,"0,16",21s,"0,04"
3,4,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,"Thursday, April 2, 2020 2:14:43 PM","12546,35","Friday, April 3, 2020 7:28:32 AM","12546,64","Thursday, April 2, 2020 10:53:10 AM","12501,55",17h 13m 49s,"0,29",3h 21m 33s,"44,8"
4,5,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,"Friday, April 3, 2020 10:01:38 AM","12595,54","Friday, April 3, 2020 10:18:50 AM","12595,84","Friday, April 3, 2020 7:28:32 AM","12546,64",17m 12s,"0,3",2h 33m 6s,"48,9"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14798 entries, 0 to 14797
Data columns (total 16 columns):
record_id                        14798 non-null int64
device_id                        14798 non-null int64
license_plate                    14798 non-null object
driver                           14778 non-null object
vehicle_group                    14798 non-null object
region                           14798 non-null object
enter_region_datetime            14798 non-null object
enter_region_odometer            14796 non-null object
exit_region_datetime             14798 non-null object
exit_region_odometer             14798 non-null object
previous_region_exit_datetime    14749 non-null object
previous_region_exit_odometer    14749 non-null object
in_region_duration               14798 non-null object
in_region_odometer               14796 non-null object
interval_between_two_regions     14749 non-null object
distance_to_previous_region      14747 non-null object
dtypes: int64(2), object(14)
memory usage: 1.8+ MB

## Data Preprocessing

### Check for missing data

In [7]:
df.isna().sum()

record_id                         0
device_id                         0
license_plate                     0
driver                           20
vehicle_group                     0
region                            0
enter_region_datetime             0
enter_region_odometer             2
exit_region_datetime              0
exit_region_odometer              0
previous_region_exit_datetime    49
previous_region_exit_odometer    49
in_region_duration                0
in_region_odometer                2
interval_between_two_regions     49
distance_to_previous_region      51
dtype: int64

In [8]:
# some of the device has just been installed this month, therefore it doesn't has previous region record (prior to the first record). But it's ok since we are measuring trip in between
df[df['previous_region_exit_datetime'].isna()]

,record_id,device_id,license_plate,driver,vehicle_group,region,enter_region_datetime,enter_region_odometer,exit_region_datetime,exit_region_odometer,previous_region_exit_datetime,previous_region_exit_odometer,in_region_duration,in_region_odometer,interval_between_two_regions,distance_to_previous_region
2633,2634,1019969,B9893SDB,MARYONO CKR,DC Cikarang,DC Cikarang,"Saturday, April 18, 2020 1:52:41 PM","2577,45","Wednesday, April 22, 2020 7:57:01 AM","2577,75",NaN,NaN,3d 18h 4m 20s,"0,3",NaN,NaN
3117,3118,1019982,B9680TI,SUTRISNO,DC Ciputat,DC Ciputat,"Sunday, April 5, 2020 2:38:30 PM","436,39","Monday, April 6, 2020 8:46:58 AM","436,6",NaN,NaN,18h 8m 28s,"0,21",NaN,NaN
4343,4350,1021257,B9443ID,NaN,DC Ciputat,DC Ciputat,"Wednesday, April 1, 2020 7:06:32 AM","617,68","Wednesday, April 1, 2020 9:03:16 AM","617,72",NaN,NaN,1h 56m 44s,"0,04",NaN,NaN
4422,4429,1021260,B9158SDC,A MAULANA,DC Ciputat,DC Ciputat,"Thursday, April 9, 2020 4:08:20 AM","0,53","Thursday, April 9, 2020 7:58:38 AM","0,57",NaN,NaN,3h 50m 18s,"0,04",NaN,NaN
6046,6053,1021284,B9640OI,ASTOTO,DC Ciputat,DC Ciputat,"Wednesday, April 1, 2020 6:57:36 AM","1094,48","Wednesday, April 1, 2020 4:49:06 PM","1094,52",NaN,NaN,9h 51m 30s,"0,04",NaN,NaN
6161,6168,1021287,B9784TCH,SUMANTO,DC Ciputat,DC Ciputat,"Wednesday, April 1, 2020 10:54:38 AM","861,34","Thursday, April 2, 2020 8:14:23 AM","861,41",NaN,NaN,21h 19m 45s,"0,07",NaN,NaN
7824,7831,1021314,B9950SDB,HENDRI RIYADI,DC Kawasan,DC Kawasan,"Wednesday, April 1, 2020 7:02:41 AM","1154,76","Wednesday, April 1, 2020 7:24:57 AM","1154,78",NaN,NaN,22m 16s,"0,02",NaN,NaN
9494,9501,1021341,B9225SDC,DENI MUHIDIN_CBN,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:30:03 PM","996,68","Friday, April 3, 2020 7:19:37 AM","997,17",NaN,NaN,16h 49m 34s,"0,49",NaN,NaN
9861,9868,1021353,B9121SCE,AYUBKAN,DC Kawasan,DC Kawasan,"Wednesday, April 1, 2020 7:32:14 AM","519,29","Wednesday, April 8, 2020 8:51:57 AM","519,41",NaN,NaN,7d 1h 19m 43s,"0,12",NaN,NaN
11191,14683,1021437,B9018SCE,WITA,DC Cibinong,DC Cibinong,"Friday, April 3, 2020 8:19:55 AM","762,98","Friday, April 3, 2020 8:28:05 AM","763,14",NaN,NaN,8m 10s,"0,16",NaN,NaN
11237,14736,1021439,B9415SCD,MAHDI,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 3:41:40 PM","557,08","Friday, April 3, 2020 1:28:01 AM","557,36",NaN,NaN,9h 46m 21s,"0,28",NaN,NaN
11288,14787,1021440,B9843SDB,SUGENG,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 1:57:59 PM","841,31","Friday, April 3, 2020 7:12:16 AM","841,68",NaN,NaN,17h 14m 17s,"0,37",NaN,NaN
11302,14801,1021441,B9132SDC,SUPRIYANTO,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:18:42 PM","982,56","Friday, April 3, 2020 7:19:52 AM","983,18",NaN,NaN,17h 1m 10s,"0,62",NaN,NaN
11445,14944,1021442,B9219SDC,MUHARMAN,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:58:12 PM","820,14","Friday, April 3, 2020 7:39:14 AM","820,45",NaN,NaN,16h 41m 2s,"0,31",NaN,NaN
11765,15264,1021446,B9881SDB,ZAKIRMAN,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:49:24 PM","1176,12","Friday, April 3, 2020 7:25:53 AM","1176,72",NaN,NaN,16h 36m 29s,"0,6",NaN,NaN
11829,15328,1021447,B9125SDC,TEGUH,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 3:10:05 PM","857,27","Friday, April 3, 2020 7:21:38 AM","857,82",NaN,NaN,16h 11m 33s,"0,55",NaN,NaN
11969,15468,1021448,B9841SDB,SUBUR_CBN,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 12:35:28 PM","953,49","Thursday, April 2, 2020 12:54:09 PM","953,88",NaN,NaN,18m 41s,"0,39",NaN,NaN
12112,15611,1021449,B9221SDC,WAWAN SAMSUDIN,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 3:10:47 PM","929,49","Friday, April 3, 2020 1:16:10 PM",930,NaN,NaN,22h 5m 23s,"0,51",NaN,NaN
12233,15732,1021450,B9122SDC,JAJULI,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:01:22 PM","846,21","Friday, April 3, 2020 7:40:39 AM","846,52",NaN,NaN,17h 39m 17s,"0,31",NaN,NaN
12374,15873,1021451,B9177SDC,RIVOSA INDRA,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 12:31:54 PM","758,67","Thursday, April 2, 2020 12:38:38 PM","758,84",NaN,NaN,6m 44s,"0,17",NaN,NaN
12462,15961,1021452,B9136SDC,CATUR,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 1:23:10 PM","756,89","Thursday, April 2, 2020 1:35:21 PM","757,33",NaN,NaN,12m 11s,"0,44",NaN,NaN
12658,16157,1021453,B9880SDB,AHMAD,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 4:02:40 PM","914,61","Friday, April 3, 2020 7:03:03 AM","915,15",NaN,NaN,15h 23s,"0,54",NaN,NaN
12806,16305,1021454,B9839SDB,MULYONO,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 1:47:07 PM","758,27","Friday, April 3, 2020 7:05:49 AM","758,53",NaN,NaN,17h 18m 42s,"0,26",NaN,NaN
12976,16475,1021458,B9427SCD,TEDI,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 3:18:21 PM","608,36","Friday, April 3, 2020 5:10:57 AM","608,47",NaN,NaN,13h 52m 36s,"0,11",NaN,NaN
13019,16518,1021459,B9424SCD,M.KAMAL,DC Cibinong,DC Cibinong,"Sunday, April 5, 2020 8:10:41 AM","608,55","Monday, April 6, 2020 5:34:09 AM","608,68",NaN,NaN,21h 23m 28s,"0,13",NaN,NaN
13064,16563,1021461,B9906SDB,RASNA,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 3:18:50 PM","643,41","Friday, April 3, 2020 7:25:22 AM","643,76",NaN,NaN,16h 6m 32s,"0,35",NaN,NaN
13155,16654,1021463,B9138SDC,ADI.SETIADI,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:07:04 PM","562,26","Friday, April 3, 2020 7:46:38 AM","562,44",NaN,NaN,17h 39m 34s,"0,18",NaN,NaN
13212,16711,1021464,B9907SDB,DADANG,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 2:04:35 PM","773,42","Friday, April 3, 2020 7:29:57 AM","773,96",NaN,NaN,17h 25m 22s,"0,54",NaN,NaN
13340,16839,1021465,B9845SDB,PUNADI,DC Cibinong,DC Cibinong,"Thursday, April 2, 2020 1:32:41 PM","698,63","Friday, April 3, 2020 6:50:53 AM","698,82",NaN,NaN,17h 18m 12s,"0,19",NaN,NaN
13592,17091,1021469,D8078EU,ADE WAHYUDIN,DC Bandung,DC Bandung,"Friday, April 3, 2020 6:44:00 AM","186,56","Friday, April 3, 2020 8:44:44 AM","186,6",NaN,NaN,2h 44s,"0,04",NaN,NaN
13672,17171,1021473,D8303DI,TEDY SONJAYA,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:29:30 PM","434,82","Friday, April 3, 2020 6:11:48 AM","435,14",NaN,NaN,16h 42m 18s,"0,32",NaN,NaN
13731,17230,1021474,D8436DQ,ARIP SARIPUDIN,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:01:14 PM","186,6","Friday, April 3, 2020 9:04:41 AM","186,7",NaN,NaN,20h 3m 27s,"0,1",NaN,NaN
13758,17257,1021475,D8301DI,M. HARITS,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:40:13 PM","378,25","Friday, April 3, 2020 6:45:44 AM","378,56",NaN,NaN,18h 5m 31s,"0,31",NaN,NaN
13816,17315,1021476,D8058EY,ASEP MUHAMAD,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:55:09 PM","259,01","Friday, April 3, 2020 7:59:50 AM","259,33",NaN,NaN,19h 4m 41s,"0,32",NaN,NaN
13956,17455,1021481,D8247DO,AGUS SUGIANTO,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:48:35 PM","112,45","Friday, April 3, 2020 8:27:18 AM","112,83",NaN,NaN,19h 38m 43s,"0,38",NaN,NaN
13984,17483,1021482,D8332DF,NUNANG SUPARMAN,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:35:19 PM","105,66","Friday, April 3, 2020 9:17:15 AM","106,07",NaN,NaN,20h 41m 56s,"0,41",NaN,NaN
14008,17507,1021483,D8767EE,DANI DJUNAEDI,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:03:42 PM","354,79","Friday, April 3, 2020 6:21:35 AM","355,09",NaN,NaN,17h 17m 53s,"0,3",NaN,NaN
14010,17509,1021484,D8391EY,AGUS SUPRIATNA,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:10:26 PM","341,65","Thursday, April 2, 2020 1:23:33 PM","341,83",NaN,NaN,13m 7s,"0,18",NaN,NaN
14074,17573,1021486,D8319DJ,IYANG SURYANA,DC Bandung,DC Bandung,"Thursday, April 2, 2020 2:32:53 PM","303,81","Friday, April 3, 2020 8:27:10 AM","304,17",NaN,NaN,17h 54m 17s,"0,36",NaN,NaN
14100,17599,1021487,D8390EY,DIDI SAHIDI,DC Bandung,DC Bandung,"Thursday, April 2, 2020 2:47:04 PM","335,67","Friday, April 3, 2020 7:13:30 AM","336,05",NaN,NaN,16h 26m 26s,"0,38",NaN,NaN
14154,17653,1021488,D8392EY,AAN KURNIAWAN,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:18:26 PM","322,4","Thursday, April 2, 2020 12:32:49 PM","322,58",NaN,NaN,14m 23s,"0,18",NaN,NaN
14262,17761,1021490,D8389EY,AYI SUPRIATNA,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:21:57 PM","345,05","Friday, April 3, 2020 5:52:16 AM","345,37",NaN,NaN,16h 30m 19s,"0,32",NaN,NaN
14313,17812,1021492,D8764EE,RUDI MULYADI,DC Bandung,DC Bandung,"Thursday, April 2, 2020 1:54:01 PM","334,5","Friday, April 3, 2020 6:50:33 AM","334,86",NaN,NaN,16h 56m 32s,"0,36",NaN,NaN
14355,17854,1021493,D8330DF,ARI KUSWANTO,DC Bandung,DC Bandung,"Thursday, April 2, 2020 2:46:11 PM","365,02","Friday, April 3, 2020 6:55:36 AM","365,42",NaN,NaN,16h 9m 25s,"0,4",NaN,NaN
14408,17907,1021494,D8268DT,SUHENDI MISKUN,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:14:31 PM","434,16","Friday, April 3, 2020 5:41:45 AM","434,5",NaN,NaN,17h 27m 14s,"0,34",NaN,NaN
14574,18073,1021498,D8437DQ,M. FADLI SUSANTO,DC Bandung,DC Bandung,"Thursday, April 2, 2020 12:19:37 PM","327,92","Friday, April 3, 2020 6:18:07 AM","328,31",NaN,NaN,17h 58m 30s,"0,39",NaN,NaN
14624,18123,1021499,D8386EY,DEDEN SUKENDAR,DC Bandung,DC Bandung,"Thursday, April 2, 2020 3:16:16 PM","344,53","Friday, April 3, 2020 6:47:14 AM","345,1",NaN,NaN,15h 30m 58s,"0,57",NaN,NaN
14785,18284,1021562,B9031XI,Martono,DC Rawa Domba,DC RAWADOMBA,"Tuesday, April 28, 2020 12:09:49 PM","194,08","Tuesday, April 28, 2020 1:10:07 PM","194,12",NaN,NaN,1h 18s,"0,04",NaN,NaN
14796,18295,1021565,B9786TCH,Mukti Makmur,DC Rawa Domba,DC RAWADOMBA,"Tuesday, April 28, 2020 12:14:50 PM",69,"Wednesday, April 29, 2020 7:01:26 AM","69,05",NaN,NaN,18h 46m 36s,"0,05",NaN,NaN

But it's okay to leave it be for now, because the trip calculation will start on the next subsequent entry

In [9]:
df['driver'] = df['driver'].fillna('Cadangan')

In [10]:
df.sort_values(['device_id','enter_region_datetime'], ascending=True, axis=0, inplace=True)

***some columns need to be converted***

In [11]:
df['device_id'] = df['device_id'].astype(str)

In [12]:
df['enter_region_datetime'] = pd.to_datetime(df['enter_region_datetime'] + ' +07:00')

In [13]:
df['exit_region_datetime'] = pd.to_datetime(df['exit_region_datetime'] + ' +07:00')

In [14]:
df['previous_region_exit_datetime'] = pd.to_datetime(df['previous_region_exit_datetime'] + ' +07:00')

In [15]:
day_ptn = re.compile(r"(\d+)d", flags=re.I)
hour_ptn = re.compile(r"(\d+)h", flags=re.I)
min_ptn = re.compile(r"(\d+)m", flags=re.I)
sec_ptn = re.compile(r"(\d+)s", flags=re.I)

def convert_prettytime_to_seconds (_str):
    '''
        converting pretty time format to seconds unit
        3m 2s --> 3x60 + 2 = 182
    '''
    if _str is None:
        return 0
    elif (isinstance(_str, str)):
        _str = _str.strip()
    
        if len(_str) == 0:
            return 0

        seconds = 0

        for t_bits in _str.split():
            if re.search(day_ptn, t_bits) is not None:
                seconds += int(re.findall(day_ptn, t_bits)[0]) * 86400
            elif re.search(hour_ptn, t_bits) is not None:
                seconds += int(re.findall(hour_ptn, t_bits)[0]) * 3600
            elif re.search(min_ptn, t_bits) is not None:
                seconds += int(re.findall(min_ptn, t_bits)[0]) * 60
            elif re.search(sec_ptn, t_bits) is not None:
                seconds += int(re.findall(sec_ptn, t_bits)[0])
            else:
                raise Exception("Unable to parse time format")
                break

        return seconds
    else:
        return 0

In [16]:
df['in_region_duration'] = df.apply(lambda x: convert_prettytime_to_seconds(x['in_region_duration']), axis = 1)

In [17]:
df['interval_between_two_regions'] = df.apply(lambda x: convert_prettytime_to_seconds(x['interval_between_two_regions']), axis = 1)

In [18]:
df['enter_region_odometer'] = df.apply(lambda x: float(x['enter_region_odometer'].replace(',','.') if isinstance(x['enter_region_odometer'], str) else x['enter_region_odometer']), axis=1)

In [19]:
df['exit_region_odometer'] = df.apply(lambda x: float(x['exit_region_odometer'].replace(',','.') if isinstance(x['exit_region_odometer'], str) else x['exit_region_odometer']), axis=1)

In [20]:
df['previous_region_exit_odometer'] = df.apply(lambda x: float(x['previous_region_exit_odometer'].replace(',','.') if isinstance(x['previous_region_exit_odometer'], str) else x['previous_region_exit_odometer']), axis=1)

In [21]:
df['in_region_odometer'] = df.apply(lambda x: float(x['in_region_odometer'].replace(',','.') if isinstance(x['in_region_odometer'], str) else x['in_region_odometer']), axis=1)

In [22]:
df['distance_to_previous_region'] = df.apply(lambda x: float(x['distance_to_previous_region'].replace(',','.') if isinstance(x['distance_to_previous_region'], str) else x['distance_to_previous_region']), axis=1)

In [23]:
df.drop(['record_id'], axis=1, inplace=True)

When I generated the report or dataset i filtered out the region event that has minimum 2minutes in region duration. However each row previous region time and odometer still refer to unfiltered data. So, I re-adjust the time series to match with the filtered data

In [24]:
for i, row in df.iterrows():
    if ((i-1) >= 0) and (df.iloc[i-1]['enter_region_datetime'].day == row['enter_region_datetime'].day) and (df.iloc[i-1]['device_id'] == row['device_id']):
#         print(f"row {i} switched with row {i-1}")
        df.at[i, 'previous_region_exit_datetime'] = df.at[i-1, 'exit_region_datetime']
        df.at[i, 'previous_region_exit_odometer'] = df.at[i-1, 'exit_region_odometer']

Recalculate the distance and time for each trip based on the time series data

In [25]:
df['interval_between_two_regions'] = df.apply(lambda x: (x['enter_region_datetime'] - x['previous_region_exit_datetime'])/np.timedelta64(1,'s'), axis=1)

In [26]:
df['distance_to_previous_region'] = df.apply(lambda x: x['enter_region_odometer'] - x['previous_region_exit_odometer'], axis=1)

### Converting to Trip Dataset

In the original dataset. Each row doesn't show a trip rather a series chain of Enter and Exit Region event. Let's simplify it so that each row contains a whole trip and has origin and destination information

In [27]:
df.head()

,device_id,license_plate,driver,vehicle_group,region,enter_region_datetime,enter_region_odometer,exit_region_datetime,exit_region_odometer,previous_region_exit_datetime,previous_region_exit_odometer,in_region_duration,in_region_odometer,interval_between_two_regions,distance_to_previous_region
18,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,2020-04-10 12:41:34+07:00,13220.86,2020-04-10 13:10:09+07:00,13221.14,2020-04-10 07:18:49+07:00,13140.630,1715,0.28,19365.0,80.230
19,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,2020-04-10 15:09:00+07:00,13267.47,2020-04-11 08:02:33+07:00,13267.84,2020-04-10 13:10:09+07:00,13221.140,60813,0.37,7131.0,46.330
33,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,2020-04-17 10:53:17+07:00,13860.97,2020-04-17 11:12:25+07:00,13861.21,2020-04-17 07:05:50+07:00,13810.900,1148,0.24,13647.0,50.070
34,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,2020-04-17 15:29:10+07:00,13933.18,2020-04-20 07:33:06+07:00,13933.46,2020-04-17 11:12:25+07:00,13861.210,230636,0.28,15405.0,71.970
65,792168,B9922SDB,HARI PERMANA,DC Kawasan,DC Kawasan,2020-04-24 10:24:03+07:00,14447.49,2020-04-24 10:36:46+07:00,14447.50,2020-04-24 10:10:22+07:00,14447.376,763,0.01,821.0,0.114

In [28]:
df.sort_values(['device_id','enter_region_datetime'], ascending=True, axis=0, inplace=True)

In [86]:
df = df.reset_index(drop=True)
df

,device_id,license_plate,driver,vehicle_group,region,enter_region_datetime,enter_region_odometer,exit_region_datetime,exit_region_odometer,previous_region_exit_datetime,previous_region_exit_odometer,in_region_duration,in_region_odometer,interval_between_two_regions,distance_to_previous_region,region_category
0,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,DC Cikarang,2020-04-01 09:41:40+07:00,2783.390,2020-04-01 10:19:41+07:00,2783.620,2020-04-01 06:31:54+07:00,2783.390,2281,0.230,11386.0,0.000,DC
1,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,DC Cikarang,2020-04-01 13:55:25+07:00,2858.030,2020-04-02 06:29:11+07:00,2858.280,2020-04-01 10:19:41+07:00,2783.620,59626,0.250,12944.0,74.410,DC
2,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,DC Cikarang,2020-04-02 08:31:37+07:00,2907.170,2020-04-02 08:48:12+07:00,2907.430,2020-04-02 06:29:11+07:00,2858.280,995,0.260,7346.0,48.890,DC
3,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,DC Cikarang,2020-04-02 10:58:57+07:00,2956.450,2020-04-02 11:23:46+07:00,2956.710,2020-04-02 08:48:12+07:00,2907.430,1489,0.260,7845.0,49.020,DC
4,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,DC Cikarang,2020-04-02 14:09:46+07:00,3011.200,2020-04-03 06:50:14+07:00,3011.440,2020-04-02 11:23:46+07:00,2956.710,60028,0.240,9960.0,54.490,DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14793,792173,B9909SDB,YULIANTO,DC Kawasan,KWS_MM SAT-JA03-PAHLAWAN REVOLUSI 5,2020-04-30 12:24:27+07:00,234054.994,2020-04-30 12:33:57+07:00,234055.031,2020-04-30 12:24:21+07:00,234054.975,570,0.037,6.0,0.019,MM
14794,792173,B9909SDB,YULIANTO,DC Kawasan,KWS_MM IDM-TJIZ-PAHLAWAN REVOLUSI 125,2020-04-30 12:36:08+07:00,234055.879,2020-04-30 12:57:07+07:00,234055.929,2020-04-30 12:35:04+07:00,234055.419,1259,0.050,64.0,0.460,MM
14795,792173,B9909SDB,YULIANTO,DC Kawasan,KWS_MM IDM-FJJN-LAUT ARAFURU,2020-04-30 13:00:48+07:00,234057.220,2020-04-30 13:16:23+07:00,234057.265,2020-04-30 12:59:40+07:00,234056.726,935,0.045,68.0,0.494,MM
14796,792173,B9909SDB,YULIANTO,DC Kawasan,KWS_MM IDM-TSWK-BAMBU DURI,2020-04-30 13:20:11+07:00,234059.126,2020-04-30 13:29:38+07:00,234059.162,2020-04-30 13:17:51+07:00,234058.040,567,0.036,140.0,1.086,MM
14797,792173,B9909SDB,YULIANTO,DC Kawasan,DC Kawasan,2020-04-30 13:44:36+07:00,234065.050,2020-04-30 14:19:36+07:00,234065.170,2020-04-30 13:43:57+07:00,234064.905,2100,0.120,39.0,0.145,DC

In [30]:
rows_trip = []

for i, row in df.iterrows():
    if ((i-1) >= 0) and (df.iloc[i-1]['enter_region_datetime'].day == row['enter_region_datetime'].day) and (df.iloc[i-1]['device_id'] == row['device_id']):
        
        
        trip = {
            'device_id': row['device_id'],
            'license_plate': row['license_plate'],
            'driver': row['driver'],
            'vehicle_group': row['vehicle_group'],
            'departure_time': row['previous_region_exit_datetime'],
            'arrival_time': row['enter_region_datetime'],
            'distance': row['distance_to_previous_region'],
            'interval': row['interval_between_two_regions'],
            'origin_region': df.iloc[i-1]['region'],
            'destination_region': row['region']
        }
        rows_trip.append(trip)

df_trip1 = pd.DataFrame(rows_trip)

In [31]:
df_trip1

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region
0,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-01 10:19:41+07:00,2020-04-01 13:55:25+07:00,74.410,12944.0,DC Cikarang,DC Cikarang
1,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-02 08:48:12+07:00,2020-04-02 10:58:57+07:00,49.020,7845.0,DC Cikarang,DC Cikarang
2,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-02 11:23:46+07:00,2020-04-02 14:09:46+07:00,54.490,9960.0,DC Cikarang,DC Cikarang
3,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-03 10:03:34+07:00,2020-04-03 14:07:19+07:00,77.420,14625.0,DC Cikarang,DC Cikarang
4,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-06 08:30:51+07:00,2020-04-06 10:22:00+07:00,42.300,6669.0,DC Cikarang,DC Cikarang
...,...,...,...,...,...,...,...,...,...,...
9980,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 12:24:21+07:00,2020-04-30 12:24:27+07:00,0.019,6.0,KWS_MM IDM-T1IN-PAHLAWAN REVOLUSI RAYA PLU,KWS_MM SAT-JA03-PAHLAWAN REVOLUSI 5
9981,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 12:35:04+07:00,2020-04-30 12:36:08+07:00,0.460,64.0,KWS_MM SAT-JA03-PAHLAWAN REVOLUSI 5,KWS_MM IDM-TJIZ-PAHLAWAN REVOLUSI 125
9982,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 12:59:40+07:00,2020-04-30 13:00:48+07:00,0.494,68.0,KWS_MM IDM-TJIZ-PAHLAWAN REVOLUSI 125,KWS_MM IDM-FJJN-LAUT ARAFURU
9983,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 13:17:51+07:00,2020-04-30 13:20:11+07:00,1.086,140.0,KWS_MM IDM-FJJN-LAUT ARAFURU,KWS_MM IDM-TSWK-BAMBU DURI
9984,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 13:43:57+07:00,2020-04-30 13:44:36+07:00,0.145,39.0,KWS_MM IDM-TSWK-BAMBU DURI,DC Kawasan

#### Checking for some anomaly data

In [32]:
df_trip1[df_trip1['distance'] == 0]

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region
127,1019940,T8625DD,M.RUSLAN,DC Cikarang,2020-04-27 08:59:59+07:00,2020-04-27 09:05:55+07:00,0.0,356.0,CKR_IOD PT.UNILEVER IND/SCC & C,CKR_IOD PT.UNILEVER IND/NSD
199,1019942,B9337SDB,IMAM R,DC Cikarang,2020-04-11 08:24:37+07:00,2020-04-11 08:24:43+07:00,0.0,6.0,IDM-TEKP-BOJONG MENTENG INDAH,MIDI-UC40-KEMUNING
245,1019942,B9337SDB,IMAM R,DC Cikarang,2020-04-28 12:36:51+07:00,2020-04-28 12:36:54+07:00,0.0,3.0,DC Cikarang,SAT-C480-MUTIARA GADING TIMUR
448,1019945,B9347SDB,MARYANTO,DC Cikarang,2020-04-19 14:33:17+07:00,2020-04-19 14:33:20+07:00,0.0,3.0,DC Cikarang,DC Cikarang
967,1019951,B9176HZ,FAISAL,DC Cikarang,2020-04-24 14:32:57+07:00,2020-04-24 14:33:00+07:00,0.0,3.0,SAT-CD39-MUTIARA BEKASI JAYA 3 / F,SAT-CC47-MUTIARA BEKASI JAYA 2 / F
...,...,...,...,...,...,...,...,...,...,...
9584,1021493,D8330DF,ARI KUSWANTO,DC Bandung,2020-04-07 10:12:29+07:00,2020-04-07 10:12:30+07:00,0.0,1.0,DC Bandung,DC Bandung
9661,1021496,D8530EX,CECEP ZAENAL ARIFIN,DC Bandung,2020-04-03 08:32:07+07:00,2020-04-03 08:32:10+07:00,0.0,3.0,DC Bandung,DC Bandung
9664,1021496,D8530EX,CECEP ZAENAL ARIFIN,DC Bandung,2020-04-03 16:23:57+07:00,2020-04-03 16:24:00+07:00,0.0,3.0,DC Bandung,DC Bandung
9672,1021496,D8530EX,CECEP ZAENAL ARIFIN,DC Bandung,2020-04-20 13:05:46+07:00,2020-04-20 13:05:50+07:00,0.0,4.0,DC Bandung,DC Bandung
9783,792168,B9922SDB,HARI PERMANA,DC Kawasan,2020-04-07 13:52:25+07:00,2020-04-07 13:52:28+07:00,0.0,3.0,DC Kawasan,DC Kawasan

This is error in the data. It was caused by vehicle mistakenly going out and in the region due to gps noise

In [33]:
df_trip1.drop(df_trip1[df_trip1['distance'] == 0].index, inplace=True)

The GPS Receiver has minimum resolution interval of 10 seconds. Which means if we have a trip that is less than 21 seconds, we won't have the minimum gps trajectory data needed for analysis. (We need at least two gps coordinates)

In [34]:
df_trip1[df_trip1['interval'] < 21]

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region
47,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-27 13:48:43+07:00,2020-04-27 13:48:49+07:00,0.010,6.0,DC Cikarang,SAT-C137-PERUMNAS KARAWANG [PRM]
102,1019940,T8625DD,M.RUSLAN,DC Cikarang,2020-04-21 10:22:11+07:00,2020-04-21 10:22:19+07:00,0.033,8.0,CKR_IOD PT.UNILEVER IND/SCC & C,CKR_IOD PT. BIROTIKA SEMESTA (DHL)/BEKASI
157,1019941,B9346SDB,PANDI SUPRIADI,DC Cikarang,2020-04-18 09:15:46+07:00,2020-04-18 09:15:55+07:00,0.044,9.0,CKR_IOD PT.CYBER WORLD INDONESIA,SAT-CE12-GRIYA SETU PERMAI
201,1019942,B9337SDB,IMAM R,DC Cikarang,2020-04-11 08:49:27+07:00,2020-04-11 08:49:40+07:00,0.058,13.0,SAT-ED72-BANTAR GEBANG [BGBA],IDM-T61Y-MUSTIKA SARI 104
216,1019942,B9337SDB,IMAM R,DC Cikarang,2020-04-18 09:17:57+07:00,2020-04-18 09:18:07+07:00,0.015,10.0,SAT-C801-BOJONG MENTENG,MIDI-UC40-KEMUNING
...,...,...,...,...,...,...,...,...,...,...
9947,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-27 13:56:10+07:00,2020-04-27 13:56:15+07:00,0.033,5.0,KWS_MM SAT-J165-KEJAKSAAN PDK BAMBU /F [KP,KWS_MM SAT-JB39-PONDOK BAMBU BATAS [PBBS]
9958,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-28 13:57:34+07:00,2020-04-28 13:57:44+07:00,0.108,10.0,KWS_MM MIDI-UC90-KOLONEL SUGIONO,KWS_IOD YAYASAN DANA PENSIUN TASPEN
9961,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-29 08:21:22+07:00,2020-04-29 08:21:28+07:00,0.025,6.0,KWS_MM SAT-KB78-MANGGA BESAR 6,DC Kawasan
9968,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-29 11:58:54+07:00,2020-04-29 11:59:04+07:00,0.046,10.0,KWS_MM IDM-TY0L-PONDOK KOPI 5,KWS_MM SAT-J385-PONDOK KOPI RAYA
9980,792173,B9909SDB,YULIANTO,DC Kawasan,2020-04-30 12:24:21+07:00,2020-04-30 12:24:27+07:00,0.019,6.0,KWS_MM IDM-T1IN-PAHLAWAN REVOLUSI RAYA PLU,KWS_MM SAT-JA03-PAHLAWAN REVOLUSI 5

In [35]:
df_trip1 = df_trip1[df_trip1['interval'] > 21]

**Any Missing values?**

In [36]:
df_trip1.isna().sum()

device_id             0
license_plate         0
driver                0
vehicle_group         0
departure_time        0
arrival_time          0
distance              2
interval              0
origin_region         0
destination_region    0
dtype: int64

In [37]:
df_trip1[df_trip1['distance'].isna()]

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region
48,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-27 14:23:10+07:00,2020-04-27 19:14:55+07:00,NaN,17505.0,SAT-C137-PERUMNAS KARAWANG [PRM],DC Cikarang
4955,1021308,B9194SCE,H.IYAN,DC Kawasan,2020-04-28 11:09:32+07:00,2020-04-28 11:12:51+07:00,NaN,199.0,KWS_MM IDM-TAPP-KASABLANKA 5,DC Kawasan

This looks like normal data. Most probably because there is no previous odometer information (new device). I need to re-check the data

In [38]:
df_trip1.at[48, 'distance'] = 2.7
df_trip1.at[4955, 'distance'] = 0.2

*i requery the database manually*

## Extract trip features from gps trajectory

We would like to study what happened during the trip. We will get the raw gps trajectory data during each trip

In [119]:
engine = create_engine('postgres+psycopg2://jcds:pwdk2020@127.0.0.1:5432/gpstrajectory')

In [70]:
df_trip1.sample(5)

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region,departure_hour,trip_time_cat,trip_type
395,1019944,B9259SDC,DIDI SAMSIDI,DC Cikarang,2020-04-22 13:51:12+07:00,2020-04-22 15:09:41+07:00,9.592,4709.0,DC Cikarang,CKR_IOD PT. PGAS SOLUTION/GUDANG PGN KLARI,13.85,noon,point-to-point
1367,1019957,B9247II,JUNAEDI,DC Cikarang,2020-04-17 14:33:13+07:00,2020-04-17 14:35:44+07:00,0.840,151.0,SAT-1JK6-JATI ILIR-KWG,IDM-TYG9-KALANG SARI,14.55,noon,point-to-point
2715,1021252,B9230SDC,SUHARYA,DC Ciputat,2020-04-01 09:16:24+07:00,2020-04-01 11:52:37+07:00,26.900,9373.0,DC Ciputat,DC Ciputat,9.27,morning,round-trip
263,1019943,T8846DJ,USEP SUMARNA,DC Cikarang,2020-04-14 12:58:10+07:00,2020-04-14 13:23:50+07:00,2.431,1540.0,DC Cikarang,DC Cikarang,12.97,noon,round-trip
9197,1021465,B9845SDB,PUNADI,DC Cibinong,2020-04-25 10:27:07+07:00,2020-04-25 10:28:29+07:00,0.480,82.0,CBG_MM IDM-TLL9-ARMED 2,CBG_MM SAT-JA61-CIKETING/F,10.45,morning,point-to-point

In [93]:
metadatas = []
heatdata = []

Turns out, it's faster to query the database from remote server rather than dumping them on my local station :))

In [ ]:
arventoAPI = arventoapi.ArventoAPI(username='ptastech', password='astech')

for i, row in df_trip1.iterrows():
    
    df_trip_ = arventoAPI.getHistoricalData(device_id=row['device_id'], timestart=row['departure_time'].strftime('%Y-%m-%d %H:%M:%S %z'), timeend= row['arrival_time'].strftime('%Y-%m-%d %H:%M:%S %z') )
    
    print(f"row {i} trajectory_size {len(df_trip_['trajectory_arr'])}")
    if (len(df_trip_['trajectory_arr']) > 0):
        trip = {
                'name': i,
                'average_speed': df_trip_['average_speed'],
                'max_speed': df_trip_['max_speed'],
                'trajectory_arr': df_trip_['trajectory_arr'],
                'timestamps': df_trip_['timestamps'],
                'trajectory_size': df_trip_['trajectory_size']
            }

        metadatas.append(trip)

        heatdata_ = [d.split(',') for d in df_trip_['trajectory_arr']]
        heatdata_ = [ [d[1],d[0]] for d in heatdata]
        heatdata = heatdata + heatdata_
    else:
        # fill with nan first later we will reiterate failed rows
        trip = {
                'name': i,
                'average_speed': np.nan,
                'max_speed': np.nan,
                'trajectory_arr': np.nan,
                'timestamps': np.nan,
                'trajectory_size': np.nan
            }
        
        metadatas.append(trip)
        print('zzzzz')
        sleep(30) # probably hitting api limit. wait 30s

In [103]:
mtrip = pd.DataFrame(metadatas + nans)

In [106]:
len(mtrip.index)

8557

In [107]:
df_trip1['average_speed'] = mtrip['average_speed']
df_trip1['max_speed'] = mtrip['max_speed']
df_trip1['trajectory_arr'] = mtrip['trajectory_arr']
df_trip1['timestamps'] = mtrip['timestamps']
df_trip1['trajectory_size'] = mtrip['trajectory_size']

Re-iterate failed API call

In [ ]:
for i, row in df_trip1[df_trip1['trajectory_size'].isna()].iterrows():
    
    df_trip_ = arventoAPI.getHistoricalData(device_id=row['device_id'], timestart=row['departure_time'].strftime('%Y-%m-%d %H:%M:%S %z'), timeend= row['arrival_time'].strftime('%Y-%m-%d %H:%M:%S %z') )
    
    print(f"row {i} trajectory_size {len(df_trip_['trajectory_arr'])}")
    if (len(df_trip_['trajectory_arr']) > 0):
          
        df_trip1.at[i,'average_speed'] = df_trip_['average_speed']
        df_trip1.at[i,'max_speed'] = df_trip_['max_speed']
        df_trip1.at[i,'trajectory_arr'] = df_trip_['trajectory_arr']
        df_trip1.at[i,'timestamps'] = df_trip_['timestamps']
        df_trip1.at[i,'trajectory_size'] = df_trip_['trajectory_size']

        heatdata_ = [d.split(',') for d in df_trip_['trajectory_arr']]
        heatdata_ = [ [d[1],d[0]] for d in heatdata]
        heatdata = heatdata + heatdata_
    else:
        # fill with nan first later we will reiterate failed rows
        df_trip1.at[i,'average_speed'] = np.nan
        df_trip1.at[i,'max_speed'] = np.nan
        df_trip1.at[i,'trajectory_arr'] = np.nan
        df_trip1.at[i,'timestamps'] = np.nan
        df_trip1.at[i,'trajectory_size'] = np.nan
        print('zzzzz')
        sleep(25) # probably hitting api limit. wait 30s

## Export to SQL

In [117]:
df_trip1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 18 columns):
device_id             8557 non-null object
license_plate         8557 non-null object
driver                8557 non-null object
vehicle_group         8557 non-null object
departure_time        8557 non-null datetime64[ns, pytz.FixedOffset(420)]
arrival_time          8557 non-null datetime64[ns, pytz.FixedOffset(420)]
distance              8557 non-null float64
interval              8557 non-null float64
origin_region         8557 non-null object
destination_region    8557 non-null object
departure_hour        8557 non-null float64
trip_time_cat         8557 non-null object
trip_type             8557 non-null object
average_speed         3820 non-null float64
max_speed             3820 non-null float64
trajectory_arr        3820 non-null object
timestamps            3820 non-null object
trajectory_size       3820 non-null float64
dtypes: datetime64[ns, pytz.FixedOffset(420)](2), float64(6), object(10)
memory usage: 1.2+ MB

In [285]:
df_trip1['trajectories'] = df_trip1.apply(lambda x: [ { 'latitude': i[0], 'longitude': i[1] } for i in x['trajectory_arr']], axis=1)

In [289]:
df_trip1['timestamps_posix'] = df_trip1.apply(lambda x: [ i for i in x['timestamps']], axis=1)

In [118]:
df_trip1.head()

,device_id,license_plate,driver,vehicle_group,departure_time,arrival_time,distance,interval,origin_region,destination_region,departure_hour,trip_time_cat,trip_type,average_speed,max_speed,trajectory_arr,timestamps,trajectory_size
0,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-01 10:19:41+07:00,2020-04-01 13:55:25+07:00,74.41,12944.0,DC Cikarang,DC Cikarang,10.32,morning,round-trip,35.357881,78.0,"[107.151215,-6.363901, 107.151634,-6.363297, 1...","[1585736386.0, 1585736396.0, 1585736407.0, 158...",774.0
1,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-02 08:48:12+07:00,2020-04-02 10:58:57+07:00,49.02,7845.0,DC Cikarang,DC Cikarang,8.80,morning,round-trip,36.252446,73.0,"[107.151268,-6.363881, 107.151733,-6.363121, 1...","[1585817299.0, 1585817310.0, 1585817320.0, 158...",511.0
2,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-02 11:23:46+07:00,2020-04-02 14:09:46+07:00,54.49,9960.0,DC Cikarang,DC Cikarang,11.38,noon,round-trip,33.583471,74.0,"[107.151344,-6.363778, 107.151772,-6.363103, 1...","[1585826633.0, 1585826643.0, 1585826652.0, 158...",605.0
3,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-03 10:03:34+07:00,2020-04-03 14:07:19+07:00,77.42,14625.0,DC Cikarang,DC Cikarang,10.05,morning,round-trip,31.054230,73.0,"[107.151115,-6.364189, 107.151421,-6.363726, 1...","[1585908214.0, 1585908223.0, 1585908233.0, 158...",922.0
4,1019939,B9338SDB,ASEP BACHTIAR,DC Cikarang,2020-04-06 08:30:51+07:00,2020-04-06 10:22:00+07:00,42.30,6669.0,DC Cikarang,DC Cikarang,8.50,morning,round-trip,39.343980,82.0,"[107.151237,-6.363938, 107.151596,-6.363309, 1...","[1586161856.0, 1586161866.0, 1586161876.0, 158...",407.0

In [150]:
from sqlalchemy.types import Integer, Text, String, DateTime, Float,JSON, TIMESTAMP
df_trip1.to_sql("trip_train_before_mm_1",
           engine,
           if_exists='replace',
           index=True,
           chunksize=50,
           dtype={
                'device_id': String,
                'license_plate': String,
                'driver': String,
                'vehicle_group': String,
                'departure_time': TIMESTAMP(timezone=True),
                'arrival_time': TIMESTAMP(timezone=True),
                'distance': Float,
                'interval': Float,
                'origin_region': String,
                'destination_region': String,
                'departure_hour': Float,
                'trip_time_cat': String,
                'trip_type': String,
                'average_speed': Float,
#                 'average_altitude': Float,
                'max_speed': Float,
                'trajectory_arr': JSON,
                'timestamps': JSON,
#                 'trajectories': JSON,
#                 'timestamps_posix': JSON,
                'trajectory_size': Integer,
#                 'n_intersection': Integer,
#                 'n_tolls': Integer,
#                 'n_motorways': Integer,
#                 'n_bridges': Integer,
#                 'n_tunnels': Integer
           })